<!-- Page Heading -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">    
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Service Name</th>
                        <th>Image Service</th>
                        <th>Created At</th>  
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>#</th>
                        <th>Service Name</th>
                        <th>Image Service</th>
                        <th>Created At</th>                        
                    </tr>
                </tfoot>
                <tbody>
                    {{#each this.services}}
                    <tr>
                        <td>{{id}}</td>
                        <td>{{services_name}}</td>
                        <td>
                            <form action="#" method="POST" enctype="multipart/form-data">
                                <div class="file-field input-field">
                                    <p>{{this.msg}}</p>
                                    <div class="btn">
                                        <span>File</span>
                                        <input type="file" name="file">
                                    </div>
                                    <div class="file-path-wrapper">
                                        <input class="file-path validate" type="text">
                                    </div>
                                </div>
                                <div class="waves-effect waves-light btn">
                                    <input  type="submit" value="upload to server">
                                </div>   
                            </form>
                            <hr>
                            <div>
                                <p><strong> Image Path</strong></p>
                                <hr>
                                <p>{{this.dir}}</p>
                            </div>
                        </td>
                        <td>{{created_at}}</td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </di>
    </div>
</div>