<section class="bg-title-page p-t-4p-b-0 flex-col-c-m" style="background-image: url(img/img_service/bg_title.jpg);">
</section>
<section>
	<div class="templatemo-container">
		<div class="col-lg-s black-bg left-container">
			<div class="tm-left-inner-container">
				<div class="leftbar p-r-20 p-r-0-sm">
					<ul class="p-b-0">
						<h1 class="l-text1 t-center p-t-20">services</h1>
						{{#each listServices}}
						<li class="p-t-0 p-l-10 hov3">
							<a href="/service?id={{id}}">
								<strong>{{services_name}}</strong>
							</a><i class="fa fa-home fa-medium"></i>
						</li>
						{{/each}}

					</ul>
				</div>
			</div>
		</div>
		<div class="col-lg-7 white-bg right-container">
			<div class="tm-right-inner-container templatemo-item templatemo-testimonial">
				{{#each serviceDescription}}
				<div class="templatemo-border-left">
					<p class="text-left"><strong>{{name}}</strong></p>
					<p><i class="fa fa-quote-left fa-medium"></i>
						{{description}}
					</p>
					<p class="text-right"><strong>{{price}}(VND)</strong></p>




					
				</div>
				{{/each}}

			</div>
		</div>
	</div>
	<hr>
</section>